* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}



.container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}


.paste-container {
    width: 100%;
    max-height: calc(100% - 10px); 
    margin-top: 10px;
    height: 100%;
    overflow: auto; 
}

h3 {
    color: #333;
    text-align: center;
}



.texts {
    margin: 15px 0;
    font-size: 13px;
    display: block;
    padding: 5px;
}

.texts:hover {
     transition: .3s;
     background-color: #616161;
     color: aliceblue;
     padding: 5px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius: 5px;
}

.intro {
    width: 100%;
    min-height: 80px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.popup-title {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.popup-title h1 {
    color: #333;
}

.btn {
    padding: 5px;
    background-color: #0056b3;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete {
    background-color: red;
    color: #fff;
}

.delete:hover {
    color: red;
    transition: .3s;
    background: #fff;
}

.delete:active {
    border: 1px solid red;
}

.btn-container {
    display: flex;

}

.copy:hover {
    background: #fff;
    color: #0056b3;
    transition: .3s;
}

.copy:active {
    border: 1px solid #0056b3;
}