* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}



.container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.intro {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.paste-container {
    width: 100%;
    max-height: calc(100% - 10px); 
    margin-top: 10px;
    height: 100%;
    overflow: auto; 
}

h3 {
    color: #333;
    text-align: center;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #0056b3;
}

.texts {
    margin: 15px 0;
    font-size: 13px;
    display: block;
}

.texts:hover {
     transition: .3s;
}

.btn-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn {
    right: 0%;
    top: -50%;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.btn:hover {
    background: #fff;
    color: #0056b3;
    transition: .3s;
}

.btn:active {
    border: 1px solid #0056b3;
}